body {
    font-family: Verdana, Tahoma, sans-serif;
    overflow-x: hidden;
}

.constantine {
    display: inline-block;
    vertical-align: middle;
    max-width: 7em;
    overflow: auto;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.narrow {
    max-width: 7em;
    background-color: gold;
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    vertical-align: middle;
}

.narrow + .narrow {
    margin-left: 1em;
}

.button-add:before {
    content: '+ ';
}

.button-remove:before {
    content: '− ';
}